page-login {
    .modeIcon{
        font-size: 2em;
        color: #ffffff;
    }
     .logoGrid{
         padding-top: 50px;
     }
     .loginForm{
         padding-top: 30px;
     }
     .privacy {
        ion-item {
          background-color: transparent;
          ion-label {
            background-color: transparent;
          }
          ion-checkbox {
            background-color: black;
          }
        }
      }
 }
 
