page-check-my-detail {
    .checkDetail{
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .buttonClass{
        padding-left: 5px;
        padding-right: 5px;
    }
}
